.Rproj.user
.Rhistory
.RData
.Ruserdata

scratch.R

**/*.log
**/*.tex
**/*.pdf
**/*.docx
**/*.png
**/*.jpg
**/*.dat
**/*.inv
**/*.tar.gz
DailySourceData/*

interim-reports/*
**/*graveyard/*
/.quick-stats.Rmd
