.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf

scratch.R

**/*.log
**/*.tex
**/*.docx
**/*.jpg
**/*.dat
**/*.inv
**/*.tar.gz
DailySourceData/*

interim-reports/*
**/*graveyard/*
/.quick-stats.Rmd
